@import '../../../scss/theme';

.chat-form {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  border-top: 0.1rem solid $grey2;
  background-color: $off-white;

  .send-button {
    display: flex;
    align-items: center;
  }
}
