@import '../../../scss/theme';

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  @include link-medium;
  background-color: $primary;
  color: $white;
  border-radius: 0px 0px 16px 16px;
}
.menu-white {
  @include text-medium;
  background-color: $white;
}
.menu-off-white {
  @include text-medium;
  background-color: $off-white;
}
.menu-invisible {
  background-color: none;
}
