@import '../../../scss/theme';

.header {
  font-family: 'BMDOHYEON';
  transition: 0.5s;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 1rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &__left-icon {
    position: absolute;
    left: 1.6rem;
  }
  &__right-icon {
    position: absolute;
    right: 1.6rem;
  }
  .location {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    #loc {
      margin-bottom: 0.3rem;
    }
  }
  .not-clickable {
    cursor: default;
    .icon-btn {
      cursor: default;
    }
  }
}
.main {
  @include link-medium;
  background-color: $primary;
  color: $white;
  border-radius: 0 0 1.6rem 1.6rem;
}
.menu-white {
  @include text-medium;
  background-color: $white;
}
.menu-off-white {
  @include text-medium;
  background-color: $off-white;
}
.menu-invisible {
  background-color: transparent;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1.6rem;

  #left,
  #right {
    position: relative;
    left: 0;
    right: 0;
  }
}
