@import '../../../scss/theme';

.chat-list__item {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0.6rem;
  margin: 0 1rem;
  background-color: $off-white;
  border-bottom: 0.1rem solid $grey3;
  gap: 1rem;
  cursor: pointer;

  &.checked {
    background-color: #fff;
  }

  &:hover {
    opacity: 0.75;
  }

  .user-section {
    flex: 1;
    display: flex;
    justify-content: space-between;

    .user-section__detail {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .username {
        @include link-small;
      }

      .content {
        @include text-small;
        color: $grey1;
      }
    }
    .timestamp {
      @include text-x-small;
      color: $grey1;
    }
  }
}
