@import '../../../scss/theme';

.status-button {
  position: relative;
  padding: 1rem 1.6rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.8rem;
  display: inline-flex;
  gap: 1rem;
  cursor: pointer;

  @include link-small;

  .icon-button {
    width: 1.4rem;
    height: 1.4rem;
    overflow: hidden;

    &.hidden {
      display: none;
    }
  }
}
