@import '../../scss/theme';

#item-list {
  height: 100%;
  overflow-y: scroll;
}

@mixin modal {
  position: absolute;
  box-sizing: border-box;
  padding-top: 5.6rem;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: $white;
  transition: 1s;
}
.modal-open {
  @include modal;
  left: 0;
}
.modal-close {
  @include modal;
  left: 100%;
}

.post-new-btn {
  position: absolute;
  right: 1.6rem;
  bottom: 1.7rem;
  z-index: 10;
}
