@import '../../scss/theme';

#tap-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $off-white;
}

.menu-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 0.1rem 0 $grey3;
  overflow-y: scroll;
  padding-bottom: 5.2rem;
}
