@import '../../../scss/theme';

.chat-bubbles {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  gap: 1.6rem;

  .chat-bubbles__message {
    display: flex;
    @include link-small;

    &.by-partner {
      justify-content: flex-start;

      .content {
        border-radius: 0 0.8rem 0.8rem 0.8rem;
        border: 1px solid $primary;
      }
    }

    &.by-me {
      justify-content: flex-end;

      .content {
        border-radius: 0.8rem 0 0.8rem 0.8rem;
        background-color: $primary;
        color: $white;
      }
    }

    .content {
      padding: 0.8rem;
    }
  }
}
