@import '../../../scss/theme';

@mixin img-box {
  background-position: center;
  border: 0.1rem solid $grey3;
  background-color: $off-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.imgbox-small {
  @include img-box;
  border-radius: 0.6rem;
  min-width: 4rem;
  height: 4rem;
}
.imgbox-medium {
  @include img-box;
  border-radius: 0.8rem;
  min-width: 7.6rem;
  height: 7.6rem;
}
.imgbox-large {
  @include img-box;
  border-radius: 1rem;
  min-width: 10.6rem;
  height: 10.6rem;
}
.imgbox-gradient {
  width: 100%;
  height: 35rem;
  display: flex;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
}
