@import '../../../scss/theme';

.product-bar {
  width: 100%;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid $grey3;

  .product-bar-details {
    display: flex;
    align-items: center;
    gap: 1rem;

    .image-wrapper {
      padding: 1rem;
      padding-left: 0;
      border-right: 1px solid $grey3;
    }

    .product-price {
      @include text-small;
    }
  }
}
