@import '../../scss/theme';

.iphone {
  .category-wrapper {
    padding-top: 8.6rem;
  }
}
.galaxy {
  .category-wrapper {
    padding-top: 6.6rem;
  }
}

.category-wrapper {
  transition: 0.5s;
  height: 100%;
  width: 100%;
  padding: 2rem 2rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-around;
  box-shadow: inset 0 0.1rem 0 $grey3;
  .category-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .box {
      width: 4rem;
      height: 4rem;
      border: 0.1rem solid $grey3;
      background: $off-white;
      border-radius: 0.6rem;
    }
    .name {
      @include text-x-small;
      margin-top: 1.6rem;
    }
  }
}
