@import '../../scss/theme';

.new-post-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-shadow: inset 0 0.1rem 0 $grey3;
  .img-list {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    padding: 2.4rem 1.6rem;
    box-sizing: border-box;
    .img-del {
      margin-left: 1.6rem;
    }
  }

  .post-container {
    overflow-y: scroll;
    input,
    textarea {
      font-family: 'Noto Sans KR', sans-serif;
      width: 100%;
      padding: 2.4rem 1.6rem;
      box-sizing: border-box;
      border: none;
      @include text-medium;
      &::placeholder {
        color: $grey1;
      }
    }
  }
}

.loc-footer {
  @include text-small;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  padding-left: 1.8rem;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: inset 0 0.1rem 0 $grey3;
}

.categories {
  @include text-small;
  color: $grey3;
  margin-bottom: 2.4rem;
  &__buttons {
    .btn {
      padding-left: 0.5rem;
      &:first-child {
        padding-left: 1.6rem;
      }
      &:last-child {
        padding-right: 1.6rem;
      }
    }
    margin-top: 1rem;
    display: flex;
    overflow-y: scroll;
  }
}
