@import '../../../scss/theme';

.user-specification {
  background-color: $off-white;
  padding: 1.6rem;
  color: $title-active;
  display: flex;

  .sub-title {
    @include link-medium;
    width: 50%;
  }

  .user-area {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .username {
      @include link-small;
    }

    .location {
      @include text-x-small;
      color: $grey3;
    }
  }
}
