@import '../../../scss/theme';

.user-specification {
  background-color: $off-white;
  padding: 1.6rem;
  color: $title-active;
  display: flex;
  justify-content: space-between;

  .sub-title {
    @include link-medium;
  }

  .user-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    .username {
      @include link-small;
    }

    .location {
      @include text-x-small;
      color: $grey3;
    }
  }
}
