@import '../../../scss//theme';

.img-btn {
  position: relative;
  .imgbox-medium {
    @include text-x-small;
    color: $grey1;
    .icon-btn {
      margin-bottom: 0.4rem;
    }
    .img-num {
      color: $title-active;
    }
  }
  .file-input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 7.8rem;
    height: 7.8rem;
    opacity: 0;
  }

  .del-btn {
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    background-color: $title-active;
    padding: 0.4rem;
    border-radius: 50%;
    top: -0.7rem;
    right: -0.7rem;
    z-index: 10;
    .icon-btn {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
