@import '../../../scss/theme';

input.text-input {
  background: $white;
  border: 0.1rem solid $grey3;
  outline: none;
  box-sizing: border-box;
  border-radius: 0.8rem;
  width: 100%;
  height: 4rem;
  padding: 1.6rem 1rem;
  @include text-small;
  color: $title-active;

  &:focus {
    border: 0.1rem solid $primary;
  }

  &::placeholder {
    color: $grey3;
  }
}
