@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMYEONSUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMYEONSUNG.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'reset';
@import 'theme';
@import 'animation';

html {
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

::-webkit-scrollbar {
  display: none !important;
}

.no-data {
  @include text-small;
  color: $grey3;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iphone {
  width: 39rem;
  height: 84.4rem;
  padding-top: 8.6rem;
  .header {
    padding-top: 3rem;
  }
  #menu-modal,
  #user-modal,
  #register-modal {
    padding-top: 8.6rem;
  }

  &::after {
    content: '';
    background-color: #000;
    width: 19rem;
    height: 3rem;
    top: 0;
    left: 10rem;
    position: absolute;
    z-index: 100;
    border-radius: 0 0 1.6rem 1.6rem;
  }
}
.galaxy {
  width: 36rem;
  height: 80rem;
  padding-top: 6.6rem;
  #menu-modal,
  #user-modal,
  #register-modal {
    padding-top: 6.6rem;
  }
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $title-active;
  background-color: #000;
  #app {
    transition: 0.5s;
    position: relative;
    box-sizing: border-box;
    background-color: $white;
    overflow: hidden;
    border-radius: 3rem;
    -ms-overflow-style: none;
  }
  .background {
    left: 0;
    top: 0;
    position: fixed;
    font-size: 18rem;
    color: $white;
    font-family: 'BMDOHYEON';
    letter-spacing: 10rem;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    &__text {
      position: absolute;
      letter-spacing: -1rem;
      &:first-child {
        top: 4rem;
        left: 3rem;
        &::after {
          content: '우아';
          position: absolute;
          white-space: nowrap;
          top: 1rem;
          left: 1rem;
          color: transparent;
          -webkit-text-stroke: 0.3rem $primary;
          animation: blink 0.8s linear infinite;
        }
      }
      &:last-child {
        bottom: 3rem;
        right: 3rem;
        &::after {
          content: '마켓';
          position: absolute;
          white-space: nowrap;
          top: 1rem;
          left: 1rem;
          color: transparent;
          -webkit-text-stroke: 0.3rem $primary;
          animation: blink 0.8s linear infinite;
        }
      }
    }
  }
  .names {
    font-family: 'BMYEONSUNG';
    color: white;
    font-size: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    margin: 3rem;
    letter-spacing: 0.5rem;
    div {
      margin: 0.5rem;
      display: flex;
      justify-content: space-between;
    }
    span {
      color: $primary;
    }
  }
  .buttons {
    font-family: 'BMDOHYEON';
    margin: 5rem;
    position: fixed;
    font-size: 3rem;
    left: 0;
    bottom: 0;
    &__btn {
      border: none;
      cursor: pointer;
      margin: 4rem;
      position: relative;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .active {
      &::after {
        content: '';
        transform: skewX(-35deg);
        position: absolute;
        z-index: -1;
        width: 12rem;
        height: 5rem;
        background-color: $primary;
        top: 0rem;
        left: 5rem;
      }
    }
  }
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: -100vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 70s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: -100vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 100s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: -100vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

#loading-modal {
  padding: 0;
  border-radius: 3rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #219a95;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;

  &.loading-open {
    display: flex;
  }

  .loader {
    animation: rotate 1s infinite;
    height: 5rem;
    width: 5rem;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 3rem 0 0 #f8b334;
    margin-bottom: 1rem;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 3rem 0 0 #97bf0d;
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg) scale(0.8);
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
      -webkit-transform: rotate(360deg) scale(1.2);
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
      -webkit-transform: rotate(720deg) scale(0.8);
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 3rem 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(1.5rem, 1.5rem);
      -moz-transform: translate(1.5rem, 1.5rem);
    }
    100% {
      box-shadow: 3rem 0 0 #f8b334;
      margin-bottom: 1rem;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 3rem 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -2rem;
      -webkit-transform: translate(1.5rem, 1.5rem);
      -moz-transform: translate(1.5rem, 1.5rem);
    }
    100% {
      box-shadow: 3rem 0 0 #97bf0d;
      margin-top: 0;
    }
  }
}
